@model CrudMaterias.Models.Clase
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Crear Materia
    </div>
    <div class="card-body">
        <form method="post" asp-action="Create" asp-controller="Universidad">
            <label class="form-label" asp-for="Descripcion">Descripcion</label>
            <input asp-for="Descripcion" class="form-control form-control-sm" type="text" />

            <label class="form-label" asp-for="Creditos">Creditos</label>
            <input asp-for="Creditos" class="form-control form-control-sm" type="text" />

            <label class="form-label" asp-for="Mestro">Maestro</label>
            <input asp-for="Mestro" class="form-control form-control-sm" type="text" />

            <button class="btn btn-success" type="submit">Crear</button>
        </form>
    </div>
</div>